<div class="container">
  <h1 class="title">Stupid Coaching</h1>
  <h2 class="answer">You: <strong><%=  params[:user_question] %></strong></h2>
  <h2>Coach: <strong><%= @answer %></strong></h2>
  <a><%= link_to 'Ask another question', ask_path %></a>
</div>
